*{margin: 0;padding: 0; box-sizing: border-box;}
body{
    
    background-image: url(resimler/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
h1{
    font-family: 'montserrat', sans-serif;
    color: #fff;
}
h2{
    font-family: 'montserrat', sans-serif;
    color: #fff;
}

h3{
    font-family: 'montserrat', sans-serif;
    color: #fff;
}

h4{
    font-family: 'montserrat', sans-serif;
    color: #fff;
}
#derece{
    color: rgb(255, 172, 172);
    text-shadow: 4px 4px 5px black;
}